
.center-text {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center
}

/* Large desktop */
@media (min-width: 1200px) { 
    .center-text {
        font-size: 0.90rem;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .center-text {
        font-size: 0.90rem;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .center-text {
        font-size: 0.75rem;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .center-text {
        font-size: 0.70rem;
    }
}